html,body{
  overflow-x: hidden;
}

@media (max-width:640px){
.arrow{
  font-size: 25px;
  color: grey;
  display: block;
}

.logo{
  display: none;
}

.help{
  display: none;
}

.helpIcon{
  font-size: 20px;
}

.checkout{
  font-size: 20px;
}

.paySection{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.card{
  width: 90%;
  margin: auto;
  position: relative;
}

.bestseller{
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  position: absolute;
  left: 13%;
}

.image{
  width: 375px;
  height: 220px;
}

.description{
  width: 90%;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.subHeading{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.payHeading{
  display: none;
}

.heading{
  display: block;
  padding-left: 60px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lost{
  display: none;
}

.cancellation{
  margin: auto;
  width: 100%;
  padding: 20px 20px 15px 15px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  line-height: 20px;
}

.payment{
  width: 90%;
  display: flex;
  gap: 30px;
  margin: auto;
  padding-left: 20px;
}

.paymentSection{
  width: 100%;
  margin-top: 30px;
  padding-left: 10px;
}

.formHeading{
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
}

.small{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.form{
width: 100%;
}

.formSection{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mode{
  width: 100%;
  margin: auto;
}

.modeSec{
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin: auto;
}

.ques{
  width: 100%;
  padding: 0 20px 0;
}

.quesHeading{
  display: block;
  padding-left: 20px;
}


/* Footer */
.subPart{
  display: flex;
  flex-direction: column-reverse;
}

.title{
  padding: 0 10px 0;
  font-weight: 600;
  font-size: 12px;
  flex-wrap: wrap;

}
}